{% extends "layout.html" %}

{% block title %}
    Biblioteca
{% endblock %}

{% block main %}
    {% if message %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    {% endif %}

    {% for livro in livros %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ livro.TITULO }}</h5>
                <p class="card-text">{{ livro.AUTOR }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}